<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<link rel="icon" href="static/images/counter-1.png" type="image/x-icon">
	<title>Kaell Silva</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="site-navigation">
		<div class="site-navigation-inner site-container">

			<div class="main-navigation">
				<ul class="main-navigation__ul">
					<li><a href="#">Homepage</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
					<li><a href="#">Page 3</a></li>
					<li><a href="#">Page 4</a></li>
				</ul>
			</div>
	</nav>
	<!-- Navigation end -->

	<!-- Top banner -->

	<!-- Top banner end -->

	<!-- About me -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="static/images/t2.jpg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>K</span>
						<h2 class="universal-h2">aell Silva</h2>
					</div>
					<p>Kaell Silva é um estudante de desenvolvimento de sistemas, formado em História e escritor nas horas vagas.</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">Sobre mim</h2>
						<p><span>K</span> aell se formou no curso de História, na Universidade Federal do Ceará, no ano de 2020. Após algumas experiências dentro e fora da facildade com ensino de História, que incluíram estágios no Liceu da Messejana e trabalho com o programa da Prefeitura de Fortaleza "Aprender Mais", ele decidiu mudar de carreira e entrar no mundo da programação, com interesse em back-end, sobretudo em Python e produção e manutenção de bancos de dados. Atualmente faz o curso de Análise e Desenvolvimento de Sistemas na Estácio.</p>

					</div>
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">Sobre mim também</h2>
						<p><span>K</span> aell também tem um gosto ávido por aprender coisas novas, desde cedo absorvendo todos os tipos de leituras, desde livros sobre abduções alienígenas, passando por poesias e livros de História sobre as Grandes Navegações. Seu hobby favorito é o da escrita; ele possui uma página no Instagram com textos curtos, que fazem relativo sucesso. Também gosta de escrever ensaios e excertos no Medium. Além disso, gosta de video-games e filmes; atualmente, está focado em jogar denovo a série Dark Souls, e terminar a terceira temporada de Twin Peaks.</p>

					</div>
				</div>
			</div>
		</div>
		<div class="about-me-bckg"></div>
	</section>
	<!-- About me end -->

	<!-- Books and CD -->
	<section class="fh5co-books">
		<div class="site-container">
			<h2 class="universal-h2 universal-h2-bckg">Projetos em andamento</h2>
			<div class="books">
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="static/images/books-1.jpg" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Kaellboxd</h4>
					<span class="single-book__price">Projeto utilizando TkInter</span>
					<!-- star rating -->

					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="static/images/books-2.jpg" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Construção de Site Pessoal</h4>
					<span class="single-book__price">HTML/CSS/Javascript, mais Flask</span>
					<!-- star rating -->

					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="static/images/books-3.jpg" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Python - 100 Days </h4>
					<span class="single-book__price">Udemy</span>
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="static/images/books-4.jpg" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Ensaio sobre Dark Souls</h4>
					<span class="single-book__price"><a href="https://medium.com/@kaellsilva/sobre-dark-souls-e-flexibilidade-psicol%C3%B3gica-fd411998900f">Link do Medium</a></span>
				</div>

			</div>
			<div class="books-brand-button">
				<a href="#" class="brand-button">Voltar para o início</a>
			</div>
		</div>
	</section>
	<!-- Books and CD end -->

	<!-- Counter -->
	<div class="fh5co-counter counters">
		<div class="counter-inner site-container">
			<div class="single-count">
				<span class="count" data-count="50">4</span>
				<div class="single-count__text">
					<img src="static/images/album1.png" alt="counter icon">
					<p>Álbuns que ouvi esse ano</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="10">0</span>
				<div class="single-count__text">
					<img src="static/images/series.png" alt="counter icon">
					<p>Séries que assisti esse ano</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="15">1</span>
				<div class="single-count__text">
					<img src="static/images/book.png" alt="counter icon">
					<p>Livros que li esse ano</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="55">2</span>
				<div class="single-count__text">
					<img src="static/images/tv.png" alt="counter icon">
					<p>Filmes que assisti esse ano</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Counter -->

	<!-- Blog -->
	<section class="fh5co-blog">
		<div class="site-container">
			<h2 class="universal-h2 universal-h2-bckg">Últimos livros lidos</h2>
			<div class="blog-slider blog-inner">
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="static/images/blog1.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>The Heart of the Buddha's Teaching: Transforming Suffering into Peace, Joy, and Liberation</h4>
						<span>Thich Nhat Nhan</span>
						<p>Nesse livro, o autor introduz e explica de uma forma poética e didática os ensinamentos principais do Budismo, nos mostrando como esses ensinamentos são acessíveis, e podem ser colocados em prática no dia de hoje.</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="static/images/blog2.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>Cloud Atlas</h4>
						<span>David Mitchell</span>
						<p>Uma ficção-científica sobre cinco vidas que estão ligadas através do tempo e do espaço, e com essas interconexões as mudam e as transformam, bem como o mundo ao seu redor.</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="static/images/blog2.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>Zen and the Art of Motorcycle Maintenance: An Inquiry into Values</h4>
						<span> Robert M Pirsig</span>
						<p>Uma história semi-autobiográfica sobre uma viagem de moto, onde o autor examina a busca da humanidade por um sentido da vida, e as relações humanas.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog end -->

	<!-- Quotes -->

	<!-- Quotes end -->

	<!-- Social -->

	<!-- Social -->

	<!-- Footer -->
	<footer class="site-footer">
		<div class="site-container">
			<div class="footer-inner">
				<div class="footer-info">
					<div class="footer-info__left">
						<img src="static/./images/footer-img.jpg" alt="about me image">
						<p><a href="https://www.instagram.com/mundodequem/">Clique aqui para acessar minhas poesias!</a></p>
					</div>
					<div class="footer-info__right">
						<h5>Entre em contato!</h5>
						<p class="footer-phone">Fone: +85999160313</p>
						<p>Email : silvakaell@gmail.com</p>
						<div class="social-icons">
							<a href="https://www.linkedin.com/in/silvakaell/"><img src="static/images/linkedin.png" alt="social icon"></a>
							<a href="https://medium.com/@kaellsilva"><img src="static/images/medium.png" alt="social icon"></a>
							<a href="https://github.com/silvakaell"><img src="static/images/github.png" alt="social icon"></a>
							<a href="https://www.instagram.com/kkaearl/"><img src="static/images/inst.png" alt="social icon"></a>
						</div>
					</div>
				</div>
				<div class="footer-contact-form">
					<h5>Me mande um e-mail!</h5>
					<form class="contact-form">
						<div class="contact-form__input">
							<input type="text" name="name" placeholder="Nome">
							<input type="email" name="email" placeholder="Email">
						</div>
						<textarea></textarea>
						<input type="submit" name="submit" value="Enviar" class="submit-button">
					</form>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="site-container footer-bottom-inner">
				<p>© 2023 Kaell Silva | Design por <a href="https://freehtml5.co/" target="_blank">freehtml5.co</a> | All rights Reserved. Todos os direitos reservados.</p>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/slick.min.js"></script>
	<script src="static/js/main.js"></script>

</body>
</html>